* {
    box-sizing: border-box;
    font-size: 1em;
    margin: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

nav {
    background: #fffc;
    box-shadow: 0 0 0.2em #0008;
    padding: 1em;
    position: fixed;
    top: 0.5em;
    left: 0;
    right: 0;
}

a {
    display: inline-block;
    color: inherit;
    margin: 0.2em;
}

[id^="section"] {
    height: 500px;
    padding: 7em 1em 0;
}
#section1 {
    background: #fed;
}
#section2 {
    background: #ffe;
}
#section3 {
    background: #efe;
}
#section4 {
    background: #eff;
}
#section5 {
    background: #def;
}
